[submodule "3rd/StormLib"]
	path = 3rd/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
